*.focus
{
    outline: 0;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 
.card-title
{
    /* color: #FFF; */
    font-size: 20px !important;
    /* text-align: center !important; */
}
.card-img-overlay
{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.btn-wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.download
{
    transition: all 0.2s;
    color: black;
    width: 30%;
    text-align: center;
    background-color: transparent;
    border: solid;
    border-color: black;
    border-radius: 8px;
    text-decoration: none;
}
.download:hover
{
    transition: all 0.2s;
    background-color: #FAA41A;
    color: white;
    text-decoration: none;
}
.card
{
    border-radius: 10px !important;
    border: black !important;
    border-style: solid !important;
    margin: 2% !important;
    width: 500px !important;
    height: 500px !important;
}
img
{
    border-radius: 20px;
}