*.focus
{
    outline: 0;
}
@media only screen and (max-width: 350px) 
{
    .download
    {
        width: 20%;
    }
    a
    {
        font-size: 0.8em;
    }
    .card-title
    {
        font-size: 0.8em !important;
        text-shadow: 2px 2px 4px #000000 !important;
    }
}
body
{
    background-color: #ecb699 !important;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 
.card-title
{
    color: #f1e8df;
    font-family: Montserrat !important;
    font-size: 20px !important;
    /* text-align: center !important; */
}
.card-img-overlay
{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.btn-wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.download
{
    transition: all 0.2s;
    color: #f1e8df;
    width: 30%;
    text-align: center;
    background-color: transparent;
    border: solid;
    border-color: #e4e1df;
    border-radius: 8px;
    text-decoration: none;
    opacity: 0.8;
}
.download:hover
{
    transition: all 0.2s;
    background-color: rgb(70, 216, 70);
    border-color: rgb(70, 216, 70);
    color: black;
    text-decoration: none;
    opacity: 1;
}
.card
{
    border-radius: 10px !important;
    border: black !important;
    /* border-style: solid !important; */
    margin: 2% !important;
    width: 500px !important;
    /* height: 335px !important; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img
{
    border-radius: 8px;
    object-fit: fill;
}